* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: black;
    color: white;
}

.light-mode {
    background-color: white;
    color: black;
}

a {
    color: red;
    text-decoration: none;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #222;
}

header nav {
    width: 100%;
}

header div {
    display: flex;
    justify-content: flex-end;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}

nav li {
    margin-right: 30px;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.2s ease-in-out;
}

nav a:hover {
    color: white;
}

#banner {
    background-image: url("../images/your_name.jfif");
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 40px;
}

#banner h1 {
    font-size: 64px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0 #000;
}

#banner p {
    font-size: 24px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 0 #000;
}

#banner a {
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    background-color: red;
    padding: 20px 40px;
    border-radius: 50px;
    transition: background-color 0.2s ease-in-out;
}

#banner a:hover {
    background-color: #900;
}

#featured {
    padding: 80px 40px;
    background-color: #111;
}

#featured h2 {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#featured ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

#featured li {
    width: 30%;
}

#featured img {
    width: 100%;
    margin-bottom: 20px;
}

#featured h3 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

#featured p {
    font-size: 16px;
    text-align: center;
}

#popular {
    padding: 80px 40px;
}

#dropdown-content {
    display: block;
    position: absolute;
    top: 5%;
    left: 14%;
    visibility: hidden;
    min-width: 200px;
    padding: 20px 0;
    background-color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    white-space: normal;
}

#dropdown-content>a {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    color: red;
    text-decoration: none;
    text-align: left;
    border-bottom: 1px solid #666;
    transition: color 0.2s ease-in-out;
}

#dropdown-content>a:hover {
    color: white;
}